body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 201);
    font-family: sans-serif;
}

.general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 31em;
    width: 20em;
    /*Intentando dar una gama de colores a la consola ya que es GAMEBOY COLOR */
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(26, 26, 214, 0.8), rgba(0,0,255,0) 70.71%);
    border-radius: .5em .5em 3em 3em;
    box-shadow: 10px 10px 10px rgb(49, 46, 46);
}

.general:hover {
    transform: translateY(-0.1em);
}

/* Aqui definiremos lo relacionado con la pantalla*/

.pantalla {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14em;
    width: 17.5em;

}

.pantalla-izq {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14em;
    width: 2em;
    background-color: black;
   border-radius: 0.5em 0 0 2em; 
}

.powerOn {
    height: .5em;
    width: .5em;
    border-radius: 50%;
    background-color: red;
}

.pantalla-cent {
    height: 14em;
    width: 13.5em;
}

.pantalla-cent-up {
    height: 1em;
    width: 13.5;
    background-color: black;
}

/*Aqui esta la pantalla de la consola*/

.pantalla-cent-cent {
    height: 11em;
    width: 13.5;
    background-color: grey;
}

/* Apartado para logo de GAMEBOY COLOR */

.pantalla-cent-down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 2em;
    width: 13.5;
    color:rgb(192, 185, 185);
}
.pantalla-der {
    height: 14em;
    width: 2em;
    background-color: black;
    border-radius: 0 .5em 2em 0;
}

/* Aqui modificaremos lo relacionado con el logo */

.nintendoLogo {
    height: 2em;
    width: 17.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-family: Arial Black; 
    height: 1.5em;
    width: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px inset rgba(128, 128, 128, 0.315);
    border-radius: 1em;
    font-weight: bold;
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

/* Aqui definiremos lo relacionado con los controles de manejo */

.controlesManejo {
    display: flex;
    align-items: center;
    align-items: center;
    height: 8em;
    width: 17.5em;
}

.direccion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 8.75em;

}

.contenedor-direccion {
    height: 5.5em;
    width: 5.5em;
    background-color: red;
}

/* Seccion para el diseño de los botones "B" y "A" */

.botonesAB {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 8.75em;

}

.btn-b-empty {
    height: 3em;
    width: 4.375em;

}

/* Seccion para el BOTON B */

.btn-b-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 5em;
    width: 4.375em;
}

.b-btn {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(194, 187, 187);
    border-radius: 50%;
}
  
.button_AB {
    height: 2.5em;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: black;
    transform: translateY(0em);
    font-family: Arial Black;
    color: grey;
    font-size: 14px;
    cursor: pointer;
}

button.b-btn:active .button_AB {
    transform: translateY(0);
}

/* Seccion para el BOTON A*/

.btn-a-content {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 4.5em;
    width: 4.375em;
}

.a-btn {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(194, 187, 187);
    border-radius: 50%;
}


button.a-btn:active .button_AB {
    transform: translateY(0);
}

.btn-a-empty {
    height: 3.5em;
    width: 4.375em;
}

/* Aqui definiremos lo relacionado con los botones START/SELECT y la rejilla inferior-D */

.controlesGenerales {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 17.5em;
    font-family: Arial Black;
}

.cg-izq {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 5.9em;
}

.cg-cent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 5.7em;
}

/* Boton control SELECT */

.cg-cent-izq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 4em;
    width: 2.85em;
}

.select-btn {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(194, 187, 187);
    border-radius: 0.9em;
}
  
button.select-btn:active .button_top {
    transform: translateY(0);
}

.cg-cent-izq-down {
    font-size: 10px;
}

/* Boton control START */

.cg-cent-der {
    height: 4em;
    width: 2.85em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-btn {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(194, 187, 187);
    border-radius: 0.9em;
}
  
.button_top {
    height: 0.6em;
    width: 2.5em;
    display: flex;
    box-sizing: border-box;
    border-radius: 0.9em;
    background-color: black;
    transform: translateY(0);
}

button.select-btn:active .button_top {
    transform: translateY(0);
}

.cg-cent-der-down {
    font-size: 10px;
}

/* Apartado para el diseño de la rejilla*/

.cg-der {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    text-align: center;
    font-size: 10px;
    height: 10em;
    width: 9em;
    line-height: 8px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px rgba(93,53,151,0.8);
    transform: rotate(-10deg);
}
